<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftyScount.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DDA1BA181F32726B006C9A4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDA1BA2F1F32726B006C9A4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDA1BA3A1F32726B006C9A4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
